* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(book.png.jpg);

}


.modal-btn {
    background: #fc5b5b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
    margin-left: 70px;
    margin-top: 50px;
} 

.container{
    margin-top: 200px;
    margin-left: 500px;
    padding: 80px;
    width: 30%;
    border-color: 2px solid black;
    background-color:rgb(202, 241, 103);
    align-items: center;
     
     /* margin-left: 20px; */
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237, 148, 207, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal-container {
    background: #fff;
    padding: 50px;
    border-radius: 4px;
    position: relative;
    max-width: 500px;
    width: 100%;
    text-align: center;

} 

.close-btn {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
} 

.open-modal {
    align-items: center;
    visibility: visible;
    opacity: 1;
    padding: 50px;
    border-radius: 4px;
    
    

}