 body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(199, 209, 181);

 }
 /* .centered-text {
    font-size: 24px; */

 
 .container {
    text-align: center;
    font-size: 30px;
    height: 120px;
    margin: 50px; 
    padding: 80px;
    background-color: blanchedalmond;
    padding: 25px;
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

 }
 /* .button { */
    /* margin: 9px;
    padding: 50px;
    margin:20px; 
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
    border: black;
    border-radius: 5px;
    background-color: #eeefea;
    color: #f8aeae;
    transition: background-color 0.3s;
} */

/* .button:hover { */
    /* background-color: hsl(48, 84%, 64%); */
    /* color: rgb(16, 247, 170);
} */
.btnincrease:hover {
    background:black;
    color: red;
}
:hover{
background: black;
color: red;
}
#decrease:hover{ 
    background-color:black;
    color: red;
    
}



#increase{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    margin-top: 30px;
}
#reset{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
#decrease{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}


 